/* подключение шрифтов - font-face */


/* начало фрагмента - эти стили трогать нельзя, так как они переиспользуюся в других блоках и страницах сайта */
 .wrp h2 {
  color: #015cab;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

p {
  font-size: 15px;
  line-height: 18px;
} 

.author img {
  width: 100px;
}

/* конец фрагмента */
/* стили студента */

/* общие стили - обнуление, body*/

/* стили для элементов внутри div.content */

/* стили для сетки */